node_modules
build

public/*

functions/build
functions/src/secret/secret-config.ts
functions/src/shared/config.ts

e2e/screenshot.jpg

.firebase
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
.env.local
.DS_Store
.idea/

docs/openapi/_build
